
        
        <!-- JS Libs & Plugins
        ============================================ -->

        <script src="/vendors/jquery/dist/jquery.min.js"></script> <!-- Jquery Library Call -->
        <script src="/vendors/inventory/js/plugins/prettyphoto.js"></script> <!-- PrettyPhoto Plugin -->
        <script src="/vendors/inventory/js/plugins/ui-plugins.js"></script> <!-- UI Plugins -->
        <script src="/vendors/inventory/js/plugins/helper-plugins.js"></script> <!-- Helper Plugins -->
        <script src="/vendors/inventory/js/plugins/owl.carousel.min.js"></script> <!-- Owl Carousel -->
        <script src="/vendors/inventory/js/plugins/password-checker.js"></script> <!-- Password Checker -->
        <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script> <!-- UI -->
        <script src="/vendors/inventory/js/init.js"></script> <!-- All Scripts -->
        <script src="/vendors/inventory/js/plugins/jquery.flexslider.js"></script> <!-- FlexSlider -->
        <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-SpgMgJfnYGQYrkDIYKMuw0keyeNtqL0"></script>-->
        <script src="/vendors/inventory/js/libs/jquery_cookie.js"></script>
        <script src="/vendors/inventory/js/script.js"></script> 

    </body>
  </html>