<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Auto City Inventory List</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900%7COverpass:300,400,600,700,800,900" rel="stylesheet">

    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Iventory/Website Styles -->
    <link rel="stylesheet" href="/vendors/bootstrap-theme/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/vendors/inventory/css/owl.carousel.css">
    <link rel="stylesheet" href="/vendors/inventory/css/owl.theme.css">
    <link rel="stylesheet" href="/vendors/inventory/css/color1.css">
    <link rel="stylesheet" href="/vendors/inventory/css/style-switcher.css">
    <link rel="stylesheet" href="/vendors/inventory/css/style.css">
    <link rel="stylesheet" href="/vendors/inventory/css/prettyphoto.css">

    <script src="/vendors/inventory/js/libs/jquery.modernizr.js"></script><!-- Modernizr -->


  </head>

  <body>
  